*, *::before, *::after {
    box-sizing: border-box;  
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #404040;
  
}


   /* Typography */

   h1{
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #FF2E38;
    
   }

   h2{
    font-size: 1.5rem;
    margin: 0;
   }


   p{
    font-size: 1.125rem;
    line-height: 1.35;
   }

   .beta-text{
    font-weight: 900;
   }

   .subheading{
    font-weight: 900;
    margin-bottom: 0.5em;
   }

   .top-text{
    font-size: 0.875rem;
    font-weight: 900;
    border-top: 5px solid;
    margin: 0 auto;
    order: -1;
   }

   .beta-text,
   .subheading,
   .top-text{
    text-transform: uppercase;
   }

   .fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

    /* Flex Containers */

   .intro, 
   .main-content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
   }

   /* Intro */

   .intro{
    justify-content: space-between;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #FF2E38;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5), /* Black overlay with 50% opacity */
        rgba(0, 0, 0, 0.5)
    ), url("public/images/cake_vibrant_bg_1.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 1.5em;

   }

   /* main content */

   .main-img{
    width: 120px;
    border-radius: 50%;
    margin-top: 1em;
   }

   .main-content{
    align-items: center;
    padding-top: 2.5em;
   }

   .main-content p,
   form{
    max-width: 450px;
   }

   /* form */

   input,
   button{
    font-family: inherit;
    width:100%;
    border-radius: 5px;
   }

   input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 2px solid #d1d5db;
   }

   input:focus {
    outline: none;
    border-color: #f0523d;
    background-color: #e6e8ec;
   }

   
.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #FF2E38;
    margin-top: 1em;   
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #FF8FA3;
}

i{
    color: #fff;
    cursor: pointer;
    text-shadow: none;
}

i:hover,
i:focus{
    background-color:#70E000 ;
}

/* Media Queries */

@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.625rem;
    }
    
    .beta-text {
        font-size: 1.25rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
    }
    
    .intro {
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: center;
        padding-top: 0;
    }
}
